Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
Flask-Caching
Flask-Limiter
redis
Werkzeug
SQLAlchemy
python-dotenv
qrcode
python-dateutil
pytz
gunicorn
requests
Flask-Session
Pillow
pandas
openpyxl
psycopg2-binary
email-validator
